Repository wpappointments/wpappointments: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run phpcs-fix

.lintstagedrc:

{
	"*.js": "npm run format",
	"*.json": "npm run format",
	"*.ts": "npm run format",
	"*.tsx": "npm run format",
	"*.css": "npm run format",
	"*.php": "npm run phpcs-fix"
}

Husky test v4
  .lintstagedrc
Due: none

Additional initial setup
  .DS_Store
  .gitignore
  .husky/pre-commit
  assets/scripts/react/admin/pages/Dashboard.tsx
  composer.json
  composer.lock
  package.json
  readme.txt
  src/Api/Api.php
  src/Api/Endpoints/Appointment.php
  src/Model/Appointment.php
  src/Plugin.php
Due: npm run format, npm run phpcs-fix

Readme generation on pre-commit
  .husky/pre-commit
  package.json
Due: npm run format

Readme generation on pre-commit
  README.md
  package.json
Due: npm run format

Cleanup
  .DS_Store
  .gitignore
Due: none

Bolierplate
  .prettierignore
  .prettierrc.js
  assets/scripts/react/admin.tsx
  assets/scripts/react/admin/components/ActionButton/ActionButton.tsx
  assets/scripts/react/admin/components/Table/Table.tsx
  assets/scripts/react/admin/pages/Dashboard.tsx
  assets/scripts/react/utils/cn.ts
  assets/scripts/react/utils/experimental.ts
  assets/styles/admin.css
  global.d.ts
  package.json
  pnpm-lock.yaml
  src/Admin/Assets.php
  src/Api/Controller.php
  src/Api/Endpoints/Appointment.php
  src/Api/Endpoints/Ping.php
  src/Model/Appointment.php
  src/Model/AppointmentPost.php
  src/Plugin.php
  tsconfig.json
  wpappointments.php
Due: npm run format, npm run phpcs-fix

Redux store setup. Settings page v1
  assets/scripts/react/admin.tsx
  assets/scripts/react/admin/components/ActionButton/ActionButton.tsx
  assets/scripts/react/admin/components/FormField/DateTimePicker/DateTimePicker.tsx
  assets/scripts/react/admin/components/FormField/Input/Input.tsx
  assets/scripts/react/admin/components/FormField/Number/Number.tsx
  assets/scripts/react/admin/components/FormField/TimePicker/TimePicker.tsx
  assets/scripts/react/admin/components/FormField/Toggle/Toggle.tsx
  assets/scripts/react/admin/components/Table/Table.tsx
  assets/scripts/react/admin/layouts/LayoutWithTabs.tsx
  assets/scripts/react/admin/pages/Dashboard.tsx
  assets/scripts/react/admin/pages/Settings.tsx
  assets/scripts/react/admin/pages/Settings/General/General.tsx
  assets/scripts/react/admin/pages/Settings/Schedule/OpeningHoursDayOfWeek/OpeningHoursDayOfWeek.module.css
  assets/scripts/react/admin/pages/Settings/Schedule/OpeningHoursDayOfWeek/OpeningHoursDayOfWeek.tsx
  assets/scripts/react/admin/pages/Settings/Schedule/Schedule.tsx
  assets/scripts/react/admin/pages/Settings/Settings.module.css
  assets/scripts/react/admin/pages/Settings/Settings.tsx
  assets/scripts/react/utils/experimental.ts
  assets/scripts/react/utils/fetch.ts
  assets/scripts/react/utils/forms.ts
  assets/scripts/redux/store.ts
  assets/scripts/types.ts
  assets/styles/admin.css
  index.d.ts
  package.json
  pnpm-lock.yaml
  src/Admin/Assets.php
  src/Api/Api.php
  src/Api/Endpoints/Settings.php
  src/Model/AppointmentPost.php
  src/Model/SchedulePost.php
  src/Model/Settings.php
  src/Plugin.php
  tsconfig.json
Due: npm run format, npm run phpcs-fix

Default schedule for all days
  src/Model/Settings.php
Due: npm run phpcs-fix

Test setup
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .wp-env.json
  assets/scripts/react/admin/components/ActionButton/ActionButton.tsx
  composer.json
  composer.lock
  package.json
  phpunit-php.xml
  phpunit-wp.xml
  pnpm-lock.yaml
  src/Core/HooksActivator.php
  src/Example.php
  tests/SampleTest.php
  tests/bootstrap.php
  tests/php/Pest.php
  tests/php/TestCase.php
  tests/php/Unit/ExampleTest.php
  tests/wordpress/Feature/ExampleTest.php
  tests/wordpress/Pest.php
  tests/wordpress/TestCase.php
Due: npm run format, npm run phpcs-fix

Fix project start when doing it for the first time
  .wp-env.json
  package.json
  pnpm-lock.yaml
Due: npm run format

Test coverage setup. More WP tests to try
  .gitignore
  .htaccess
  .wp-env-bak.json
  .wp-env.json
  assets/scripts/react/admin/pages/Settings/Schedule/OpeningHoursDayOfWeek/OpeningHoursDayOfWeek.module.scss
  assets/scripts/react/admin/pages/Settings/Schedule/OpeningHoursDayOfWeek/OpeningHoursDayOfWeek.tsx
  assets/styles/admin.css
  package.json
  phpunit-wp.xml
  src/Model/Settings.php
  src/Plugin.php
  tests/SampleTest.php
  tests/bootstrap.php
  tests/wordpress/Feature/ExampleTest.php
  tests/wordpress/Plugin/PluginTest.php
  wpappointments.php
Due: npm run format, npm run phpcs-fix

Prettier - ignore genrated css modules types
  .prettierignore
  assets/scripts/admin/components/ActionButton/ActionButton.module.css.d.ts
  assets/scripts/admin/components/FormField/FormField.module.css.d.ts
  assets/scripts/admin/components/Table/Table.module.css.d.ts
  assets/scripts/admin/layouts/LayoutDefault/LayoutDefault.module.css.d.ts
  assets/scripts/admin/pages/Calendar/Calendar.module.css.d.ts
  assets/scripts/admin/pages/Settings/General/General.module.css.d.ts
  assets/scripts/admin/pages/Settings/Schedule/OpeningHoursDayOfWeek/OpeningHoursDayOfWeek.module.css.d.ts
  assets/scripts/admin/pages/Settings/Schedule/ScheduleTimePicker/ScheduleTimePicker.module.css.d.ts
  assets/scripts/admin/pages/Settings/Settings.module.css.d.ts
  assets/styles/global.module.css.d.ts
Due: npm run format

Empty state - dashboard appointments
  assets/scripts/admin/components/Table/Table.module.css
  assets/scripts/admin/components/Table/Table.module.css.d.ts
  assets/scripts/admin/components/Table/Table.tsx
Due: npm run format

slideout component with form to add new appointments
  assets/scripts/admin/components/FormField/FormField.module.css
  assets/scripts/admin/components/FormField/FormField.module.css.d.ts
  assets/scripts/admin/components/FormField/Input/Input.tsx
  assets/scripts/admin/components/FormField/Number/Number.tsx
  assets/scripts/admin/components/SlideOut/SlideOut.module.css
  assets/scripts/admin/components/SlideOut/SlideOut.module.css.d.ts
  assets/scripts/admin/components/SlideOut/SlideOut.tsx
  assets/scripts/admin/components/Table/Table.tsx
  assets/scripts/admin/pages/Dashboard.tsx
  assets/scripts/admin/pages/Settings/Settings.tsx
  assets/scripts/globals.tsx
  assets/scripts/hooks/api/appointments.ts
  assets/scripts/index.tsx
  assets/scripts/store/appointments/appointments.ts
  assets/scripts/types.ts
  global.d.ts
  includes/admin/api.php
  includes/admin/assets.php
  includes/admin/other.php
  includes/client.php
  includes/client/assets.php
  includes/post-types/appointment.php
  includes/post-types/schedule.php
  index.d.ts
  package.json
  src/Api/Endpoints/Appointment.php
  src/Model/AppointmentPost.php
  src/Plugin.php
  wpappointments.php
Due: npm run format, npm run phpcs-fix

Move new component form to separate file
  assets/scripts/admin/components/NewAppointmentForm/NewAppoitmentForm.tsx
  assets/scripts/admin/pages/Dashboard.tsx
Due: npm run format

Remove useAppointments from Settings component
  assets/scripts/admin/pages/Settings/Settings.tsx
Due: npm run format

Add wpappointments_globals_api_enabled filter
  includes/admin/assets.php
  includes/admin/other.php
Due: npm run phpcs-fix

Refactor date parsing in appointment model
  src/Model/AppointmentPost.php
Due: npm run phpcs-fix

Remove default schedule on plugin deactivation
  src/Plugin.php
Due: npm run phpcs-fix

Appointments showing up in calendar month view
  assets/scripts/admin.tsx
  assets/scripts/admin/pages/Calendar/Calendar.module.css
  assets/scripts/admin/pages/Calendar/Calendar.module.css.d.ts
  assets/scripts/admin/pages/Calendar/Calendar.tsx
  assets/scripts/index.tsx
  assets/scripts/store/appointments/appointments.ts
  assets/scripts/store/appointments/appointments.types.ts
  assets/scripts/store/settings/settings.ts
  assets/scripts/store/store.ts
  assets/scripts/types.ts
  package.json
  pnpm-lock.yaml
  src/Model/AppointmentPost.php
  wpappointments.php
Due: npm run format, npm run phpcs-fix

Revert commented out code
  assets/scripts/index.tsx
Due: npm run format

Remove global api hook added for testing
  wpappointments.php
Due: npm run phpcs-fix

Add new appointment from calendar view
  assets/scripts/admin/pages/Calendar/Calendar.tsx
  assets/scripts/hooks/api/appointments.ts
  assets/scripts/store/appointments/appointments.ts
  src/Model/AppointmentPost.php
Due: npm run format, npm run phpcs-fix

Reorder imports
  assets/scripts/admin/pages/Calendar/Calendar.tsx
Due: npm run format

Add option to create appointments from the calendar grid
  assets/scripts/admin/components/FormField/DateTimePicker/DateTimePicker.tsx
  assets/scripts/admin/components/FormField/Input/Input.tsx
  assets/scripts/admin/components/NewAppointmentForm/NewAppoitmentForm.tsx
  assets/scripts/admin/pages/Calendar/Calendar.module.css
  assets/scripts/admin/pages/Calendar/Calendar.tsx
  assets/scripts/admin/pages/Settings/Schedule/OpeningHoursDayOfWeek/OpeningHoursDayOfWeek.tsx
  assets/scripts/admin/pages/Settings/Schedule/Schedule.tsx
Due: npm run format

Fix empty new appointments slideout
  assets/scripts/admin/components/NewAppointmentForm/NewAppoitmentForm.tsx
  assets/scripts/admin/pages/Calendar/Calendar.tsx
Due: npm run format

Add option to edit appointment from calendar view
  assets/scripts/admin/components/NewAppointmentForm/NewAppoitmentForm.tsx
  assets/scripts/admin/pages/Calendar/Calendar.module.css
  assets/scripts/admin/pages/Calendar/Calendar.tsx
  assets/scripts/hooks/api/appointments.ts
  assets/scripts/store/appointments/appointments.ts
  global.d.ts
  src/Api/Endpoints/Appointment.php
  src/Model/AppointmentPost.php
Due: npm run format, npm run phpcs-fix

Rename appointment form component
  assets/scripts/admin/components/AppointmentForm/AppoitmentForm.tsx
  assets/scripts/admin/pages/Calendar/Calendar.tsx
  assets/scripts/admin/pages/Dashboard.tsx
Due: npm run format

Allow edit action in upcoming appointments section
  assets/scripts/admin/components/Table/Table.tsx
  assets/scripts/admin/pages/Dashboard.tsx
Due: npm run format
